<div class="cake-item-Container">
    <div class="cake-container bg-white card font-family-robotoRegular MR20 alignCenterFirstCard">
        <div>
            <div class="text-size-rem18 greyColor textCenter">Baking Tools</div>
        </div>
        <div>
            <div class="viewAllBtn flex-row alignCenterFirstCard">View All</div>
        </div>
    </div>
    <div *ngFor="let data of data; last as last; first as first" class="cake-container bg-white card font-family-robotoRegular MR20 flex-col">
        <div class="vegIconAlign">
            <!-- <img src="assets/images/icons/vegetarian-food.png" alt="Vegetarian Logo" width="25px" height="25px"> -->
        </div>
        <div class="image-set-proper flex-col">
            <div>
                <img src="{{data.product_image}}" alt="" class="responsiveImg" width="230px">
            </div>                
        </div>
        <div class="flex-col md-flex-center">
            {{data.product_name}}
        </div>
        <!-- <div class="MT10 flex-col md-flex-center txt-0C6B0D textSizeEggless">
            {{data.product_contain}}
        </div> -->
        <div class="MT3 greyColor flex-col md-flex-center txt-0C6B0D textSizeEggless font-wt-bold">
            Earliest Delivery : Tomorrow
        </div>
        <div class="MT5 MB5 price-new flex-col md-flex-center txt-0C6B0D textSizeEggless">
            <span>
                <fa-icon class="PL5" [icon]="faRupeeSign" size="xs"></fa-icon>
                {{data.price}}
            </span>
        </div>
    </div>
</div>




