<div class="cake-item-Container">
    <div class="firstDivWidth bg-white card font-family-robotoRegular MR20 alignCenterFirstCard">
        <div>
            <div class="text-size-rem18 greyColor textCenter">Baking Classes</div>
        </div>
        <div>
            <div class="viewAllBtn flex-row alignCenterFirstCard">View All</div>
        </div>
    </div>
    <div *ngFor="let data of data; last as last; first as first" class="classContainer bg-white card font-family-robotoRegular MR20 flex-col">
        <div class="flex-row">
            <div class="flex-col">
                <div class="classHeader">
                    {{data.class_name}}
                </div>
                <div>
                    {{data.product_desc}}
                </div>
                <div>
                    <button class="viewAllBtn flex-row alignCenterFirstCard removebtnBorder">Read More</button>
                </div>
            </div>

        </div>
    </div>
</div>




