.classContainer {
    width: 27%;
    height: 320px;
}

.firstDivWidth {
    width: 16%;
}

.classHeader {
    text-align: center;
    margin-top: 5%;
    font-size: xx-large;
    color: #666666;
    font-family: sans-serif;
}

.removebtnBorder {
    border: none;
}