.containerFooter{
    height: 278px;
    background: #000000;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.copyrightContainer {
    height: 49px;
    background: #303030;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.grnColor {
    color: #09F804;
}

.padding5per{
    padding: 5%;
}

.marginBotom4{
    margin-bottom: 4%;
}

.bottomBroderRed {
    border-bottom: 2px solid red;
}

.contactFooterBtn{
    //width: 100px;
    //height: 39px;
    background: none;
    color: white;
    border-radius: 6px;
    outline: none;
    border: 1px solid white;
  }