<div>
    <div class="containerFooter">
        <div class="md-flex-col33 dispFlex md-flex-center md-space-center">
            <img class="responsiveImg" src="assets\images\logo\logo.png" alt="Dhruvi's Cake image" width="385px" height="271">
        </div>
        <div class="md-flex-col33 flex-col md-flex-center md-space-center font-family-robotoLight">
            <div class="grnColor text-size-rem15">Currently Services Available at:</div>
            <div class="text-size-rem14 txt-ffffff">PCMC, Pune</div>
        </div>
        <div class="md-flex-col33">
            <div class="md-flex-col100 flex-row font-family-robotoMedium txt-ffffff text-size-rem14 md-space-evenly padding5per">
                <div class="bottomBroderRed">
                    Help & Support
                </div>
                <div class="bottomBroderRed">
                    About Us
                </div>
                <div class="bottomBroderRed">
                    Contact Us
                </div>

            </div>
            <div class="md-flex-col100 flex-col font-family-robotoMedium txt-ffffff text-size-rem14 md-flex-center">
                GET IN TOUCH                
            </div>
            <div class="md-flex-col100 flex-row md-space-center PT10 marginBotom4">
                <div class="PR10">
                    <img src="assets/images/icons/phoneicon.png" alt="Phone Icon" width="50px" height="50px">
                </div>
                <div>
                    <img src="assets/images/icons/whatsappicon.png" alt="Phone Icon" width="50px" height="50px">
                </div>
            </div>
            <div class="md-flex-col100 flex-col txt-ffffff text-size-rem13 md-flex-center">
                <button class="contactFooterBtn font-family-robotoBold P5">+91985099689</button>
            </div>
        </div>
    </div>
    <div class="copyrightContainer flex-row">
        <div class="font-family-robotoThin txt-ffffff">Copyright © 2020 Dhruvi’s Cake. All rights reserved</div>
    </div>
</div>