<div class="containerMenu">
    <nav class="listItem flex-row text-size-rem13 font-family-robotoThin dropdown">
        <!-- Navbar content -->
        <ul *ngIf="data">
            <li *ngFor="let menu of data.mainMenu;let i = index" [attr.id]="'menuItem' + i" (mouseenter)="showMenu(menu)" (clickOutside)="hideMenu()"><a href="">{{menu.menuName}}<fa-icon class="PL5" [icon]="faChevronDown" size="xs"></fa-icon></a></li>            
        </ul>
        <div *ngIf="isHomeMenu">
            <ng-container [ngTemplateOutlet]="homeMenu"></ng-container>
        </div>
        <div *ngIf="isCakeMenu">
            <ng-container [ngTemplateOutlet]="cakeMenus"></ng-container>
        </div>
        <div *ngIf="isThemeCakes">
            <ng-container [ngTemplateOutlet]="themeCakes"></ng-container>
        </div>
        <div *ngIf="isCakeIngridients">
            <ng-container [ngTemplateOutlet]="cakeIngridients"></ng-container>
        </div>
        <div *ngIf="isBakingTools">
            <ng-container [ngTemplateOutlet]="bakingTools"></ng-container>
        </div>
        <div *ngIf="isBakingClasses">
            <ng-container [ngTemplateOutlet]="bakingClasses"></ng-container>
        </div>
    </nav>
    
    <form class="form-inline my-2 my-md-0">
        <input type="text" placeholder="Search" class="form-control">
        <button class="searchBtn">Search</button>
    </form>
    
    <!-- <nav class="flex-row md-space-center text-size-rem18 font-family-robotoThin">
        <ul *ngFor="let menu of menus;let i = index">
            <li (mouseenter)="showMenu($event, 'menuItem'+i)" (mouseleave)="hideMenu($event, 'menuItem'+i)"><a href="">{{menu}}<fa-icon class="PL5" [icon]="faChevronDown" size="xs"></fa-icon></a></li>
        </ul>
    </nav>    -->
</div>

<ng-template #homeMenu>
    <!-- <div *ngFor="let subMenu of subMenus" class="" style="left:0;width: 500px;height: 500px;">
        <a href="#">{{subMenu.subMenuName}}</a>           
    </div> -->
    <div class="" style="left:0;width: 500px;height: 500px;background-color: white;position: absolute;
    top: 80%;
    left: 2%;
    z-index: 1;">
        <a href="#">Home</a>           
    </div>
</ng-template>

<ng-template #cakeMenus>
    <!-- <div *ngFor="let subMenu of subMenus" class="" style="left:0;width: 500px;height: 500px;">
        <a href="#">{{subMenu.subMenuName}}</a>           
    </div> -->
    <div class="" style="width: 500px;height: 500px;background-color: white;position: absolute;
    top: 80%;
    left: 14%;
    z-index: 1;">
        <a href="#">Cake Menus</a>           
    </div>
</ng-template>
<ng-template #themeCakes>
    <!-- <div *ngFor="let subMenu of subMenus" class="" style="left:0;width: 500px;height: 500px;">
        <a href="#">{{subMenu.subMenuName}}</a>           
    </div> -->
    <div class="" style="left:0;width: 500px;height: 500px;background-color: white;position: absolute;
    top: 80%;
    left: 25%;
    z-index: 1;">
        <a href="#">Theme Cakes</a>           
    </div>
</ng-template>
<ng-template #cakeIngridients>
    <!-- <div *ngFor="let subMenu of subMenus" class="" style="left:0;width: 500px;height: 500px;">
        <a href="#">{{subMenu.subMenuName}}</a>           
    </div> -->
    <div class="" style="left:0;width: 500px;height: 500px;background-color: white;position: absolute;
    top: 80%;
    left: 45%;
    z-index: 1;">
        <a href="#">Cake Ingridients</a>           
    </div>
</ng-template>
<ng-template #bakingTools>
    <!-- <div *ngFor="let subMenu of subMenus" class="" style="left:0;width: 500px;height: 500px;">
        <a href="#">{{subMenu.subMenuName}}</a>           
    </div> -->
    <div class="" style="left:0;width: 500px;height: 500px;background-color: white;position: absolute;
    top: 80%;
    left: 66%;
    z-index: 1;">
        <a href="#">Baking Tools</a>           
    </div>
</ng-template>
<ng-template #bakingClasses>
    <!-- <div *ngFor="let subMenu of subMenus" class="" style="left:0;width: 500px;height: 500px;">
        <a href="#">{{subMenu.subMenuName}}</a>           
    </div> -->
    <div class="" style="left:0;width: 500px;height: 500px;background-color: white;position: absolute;
    top: 80%;
    left: 84%;
    z-index: 1;">
        <a href="#">Baking Classes</a>           
    </div>
</ng-template>


