.containerMenu{
    background: #000;
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navPadding {
  padding: 0.5rem 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #ED1354;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    //background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  li a:hover .dropdown-content {display: block;}

  .searchBtn{
    width: 100px;
    height: 39px;
    background: none;
    color: white;
    border-radius: 12px;
    outline: none;
    border: 1px solid white;
    margin-left: 12px;
    font-size: 18px;
    font-family: 'roboto-thin';
  }

  .dropdown {
    position: relative;
    //display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  